<section id="return">
    <button routerLink="/admin">Retour</button>
</section>
<section id="titlecards">
    <h2>Gestion de vos cartes</h2>
</section>
<section id="admin-cards">
    <div id="list">
        <div class="card">
            <div class="card-img">
                <img src="../../../assets/img/bateau1.jpg" alt="">
            </div>
            <div class="info">
                <h2>Nom Bateau</h2>
                <p class="description">
                    Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit. 
                    Saepe corporis modi deserunt 
                    praesentium maiores perspiciatis 
                    fuga quae laboriosam. 
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../../../assets/img/bateau1.jpg" alt="">
            </div>
            <div class="info">
                <h2>Nom Bateau</h2>
                <p class="description">
                    Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit. 
                    Saepe corporis modi deserunt 
                    praesentium maiores perspiciatis 
                    fuga quae laboriosam. 
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
                <img src="../../../assets/img/bateau1.jpg" alt="">
            </div>
            <div class="info">
                <h2>Nom Bateau</h2>
                <p class="description">
                    Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit. 
                    Saepe corporis modi deserunt 
                    praesentium maiores perspiciatis 
                    fuga quae laboriosam. 
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../../../assets/img/bateau1.jpg" alt="">
            </div>
            <div class="info">
                <h2>Nom Bateau</h2>
                <p class="description">
                    Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit. 
                    Saepe corporis modi deserunt 
                    praesentium maiores perspiciatis 
                    fuga quae laboriosam. 
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../../../assets/img/bateau1.jpg" alt="">
            </div>
            <div class="info">
                <h2>Nom Bateau</h2>
                <p class="description">
                    Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit. 
                    Saepe corporis modi deserunt 
                    praesentium maiores perspiciatis 
                    fuga quae laboriosam. 
                </p>
            </div>
        </div>
    </div>
    <div id="list">
        <div class="card">
            <div class="card-img">
                <img src="../../../assets/img/bateau1.jpg" alt="">
            </div>
            <div class="info">
                <h2>Nom Bateau</h2>
                <p class="description">
                    Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit. 
                    Saepe corporis modi deserunt 
                    praesentium maiores perspiciatis 
                    fuga quae laboriosam. 
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../../../assets/img/bateau1.jpg" alt="">
            </div>
            <div class="info">
                <h2>Nom Bateau</h2>
                <p class="description">
                    Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit. 
                    Saepe corporis modi deserunt 
                    praesentium maiores perspiciatis 
                    fuga quae laboriosam. 
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
                <img src="../../../assets/img/bateau1.jpg" alt="">
            </div>
            <div class="info">
                <h2>Nom Bateau</h2>
                <p class="description">
                    Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit. 
                    Saepe corporis modi deserunt 
                    praesentium maiores perspiciatis 
                    fuga quae laboriosam. 
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../../../assets/img/bateau1.jpg" alt="">
            </div>
            <div class="info">
                <h2>Nom Bateau</h2>
                <p class="description">
                    Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit. 
                    Saepe corporis modi deserunt 
                    praesentium maiores perspiciatis 
                    fuga quae laboriosam. 
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../../../assets/img/bateau1.jpg" alt="">
            </div>
            <div class="info">
                <h2>Nom Bateau</h2>
                <p class="description">
                    Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit. 
                    Saepe corporis modi deserunt 
                    praesentium maiores perspiciatis 
                    fuga quae laboriosam. 
                </p>
            </div>
        </div>
    </div>
</section>
<section id="button-bottom">
    <button>Modifier carte</button>
    <button>Supprimer Carte</button>
    <button>Ajouter Carte</button>
</section>
