#return {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 80px;
  width: 90%;
}

#return button {
  padding: 15px 25px;
  font-size: 24px;
  font-family: 'GameJot', sans-serif;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: orange;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-top: 20px;
}

#return button:hover {background-color: #3e8e41}

#return button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#titlecards {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center space-around;
}

.cards-details {
    width: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-right: 15px;
  }

  
  .cards-details img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
    text-align: center;
  }
  
  .description p{
    font-size: 16px;
    color: #666;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
  }

  #button-bottom {
    padding-bottom: 15px;
    display: flex;
    justify-content: space-around;
  }

  #button-bottom button {
    padding: 15px 25px;
    font-size: 24px;
    font-family: 'GameJot', sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: orange;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 20px;
  }
  
#buttun-bottom button:hover {background-color: #3e8e41}
  
#button-bottom button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }