<section id="return">
    <button routerLink="/admin">Retour</button>
</section>
<section id="titlecards">
    <h2>Gestion de vos cartes</h2>
</section>
<section id="admin-cards">
    <div class="card-list">
        <ul class="list-cards">
            <li *ngFor="let card of cards" class="cards-details">
                <span class="image"><img src="../../../assets/img/bateau1.jpg" alt=""></span>
                <span class="name"><h2>{{card.name}}</h2></span>
                <span class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates soluta consequuntur veritatis cumque est officiis commodi doloremque.</p>
                </span>
            </li>
        </ul>
    </div>
</section>
<section id="button-bottom">
    <button>Modifier carte</button>
    <button>Supprimer Carte</button>
    <button>Ajouter Carte</button>
</section>
