<app-slider></app-slider>
<h1>CardGame</h1>
<section id="main">
    <div class="image">
        <img src="../../assets/img/fond-home.jpg" alt="">
    </div>
    <div class="txt">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus voluptatum unde voluptas sint sit dolorem sequi suscipit. Libero, saepe! In, velit qui! Voluptatibus eligendi provident sit harum fugiat, quia quisquam.</p>
    </div>
</section>
<section id="second">
    <div class="txt">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus voluptatum unde voluptas sint sit dolorem sequi suscipit. Libero, saepe! In, velit qui! Voluptatibus eligendi provident sit harum fugiat, quia quisquam.</p>
    </div>
    <div class="image">
        <img src="../../assets/img/bateau1.jpg" alt="">
    </div>
</section>