h1 {
    text-align: center;
    font-family: 'GameJot', sans-serif;
    font-size: 40px;

}
.image img {
    width: 400px;
    height: auto;
}

.txt {
    width: 400px;
}

#main {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

#second {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

#second .txt {
    align-items: center;
    height: 200px;
}