header {
    background-color: orange;
    color: #fff;
    padding: 10px;
    height: 60px; /* Hauteur non trop importante */
}
nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end; /* Aligné en bas */
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
li {
    margin-right: 10px;
}
a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    color: red;
    text-decoration: red underline;
}

a:active {
    color: red;
}